body {
  background: #000;
}

h1 {
  color: red;
  font-size: 46px;
  margin: 10px 0;
}

h2 {
  color: #fff;
  font-size: 32px;
  margin: 10px 0;
}

p {
  color: #fff;
  margin: 0;
  line-height: 1.2;
}
